<section class=" overlay ">
    <div class="testimonial py-5">
        <h2 class="text-center text-white">testymonials</h2>
        <div class="container">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="test bg-white rounded p-2">
                        <h3 class="fw-bold">Kathryn Murphy</h3>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled</p>

                        <ul class="list-unstyled d-flex w-25 justify-content-between">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="test bg-white rounded p-2">
                        <h3 class="fw-bold">Kathryn Murphy</h3>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled</p>

                        <ul class="list-unstyled d-flex w-25 justify-content-between">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="test bg-white rounded p-2">
                        <h3 class="fw-bold">Kathryn Murphy</h3>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled</p>

                        <ul class="list-unstyled d-flex w-25 justify-content-between">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="test bg-white rounded p-2">
                        <h3 class="fw-bold">Kathryn Murphy</h3>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled</p>

                        <ul class="list-unstyled d-flex w-25 justify-content-between">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn  me-auto "> Contact Us </button> 
    </div>
</section>