<section class="about-us">
    <div class="container-fluid">
        <div class="row position-relative ">
            <div class="col-md-8 bg-main  ">
                    <div class="d-flex flex-column align-items-center justify-content-around h-100 w-50 mx-auto  ">
                        <h2 class=" text-white ">
                            About us
                        </h2>
                        <p class=" text-white  ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        
                            <button class="btn  me-auto "> Contact Us </button> 
                    </div>
        
            </div>
            <div class="  container-img-profile position-absolute">
                <img src="/Profile.png" class="img-fluid shadow" alt="profile">
        </div>
        </div>
    </div>
</section>