<section class="hero-section ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8  header-hero">

                <div class="title-hero py-5 ">
                    <h3>Peachy Pup Bakery</h3>
                </div>
                <div class="main-caption-hero py-4  mx-auto w-50">
                    <h1>Tasty pastries</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and <br /> typesetting industry. Lorem Ipsum has
                        been the industry's <br> standard dummy text ever since the</p>
                    <button class="btn"> SEE MORE </button>
                </div>

                <div class="row ">
                    <div class="col-md-4 bg-photo">
                        <div class=" d-flex justify-content-end align-items-center">
                            <ul class="list-unstyled mb-0">
                                <li><i class="fa-brands fa-vk"></i></li>
                                <li><i class="fa-brands fa-facebook"></i></li>
                                <li><i class="fa-brands fa-instagram"></i></li>
                                <li><i class="fa-brands fa-twitter"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex align-items-end footer-hero">
                        
                            <p class="mb-0">Telephone:+7 700 000 00 00</p>
                      
                    </div>
                </div>

            </div>

            <div class="col-md-4"></div>

        </div>
        <div class="img">
          <img src="/PlaceYourImage.png"  class="img-fluid" alt="Brand">
        </div>
    </div>
</section>