<section class="we-work">
    <div class="container-fluid">
        <div class="row min-hieght">
            <div class="col-md-4 part-bg-photo pt-5 pb-2 ">
                <div class="main-caption ms-auto w-50 ">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the</p>
                </div>
            </div>
            <div class="col-md-8 part-bg-color pt-5 pb-2">
                <div class="d-flex flex-column justify-content-between h-100 ">
                    <h2 class="text-white  text-center">How we
                        work</h2>
                        <button class="btn w-25"> Contact Us </button> 
                </div>
            </div>
        </div>
        <div class="position">
                <div class="img  d-flex gap-4 justify-content-center  ">
                    <img src="/1.png" class="img-fluid shadow" alt="1">
                    <img src="/2.png" class="img-fluid shadow" alt="2">
                    <img src="/3.png" class="img-fluid shadow" alt="3">
                    <img src="/4.png" class="img-fluid shadow" alt="4">
                </div>
        </div>
    </div>
</section>